



                    <h5 >Liste des oeuvres</h5>

                    <!-- Table with stripped rows -->
                    <table >
                        <thead>
                        <tr>     <th>IdOeuvre</th>
                            <th>Artiste</th>
                            <th>Prix</th>
                            <th>Localisation</th>
                            <th>Type</th>
                            <th>Statut</th>

                        </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{{ produit.Idprod }}</td>
                                <td>{{ produit.Nomprod }}</td>
                                <td>{{ produit.Prixprod }}</td>
                                <td>{{ produit.Localisationprod }}</td>
                                <td>{{ produit.Typeprod }}</td>
                                <td>{{ produit.Typestatue }}</td>



                            </tr>



                        </tbody>
                    </table>
                    <!-- End small tables -->


