{% extends 'base-back.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>PrixTicket</th>
                <td>{{ ticket.PrixTicket }}</td>
            </tr>
            <tr>
                <th>NomEvent</th>
                <td>{{ ticket.NomEvent }}</td>
            </tr>
            <tr>
                <th>TypeTicket</th>
                <td>{{ ticket.TypeTicket }}</td>
            </tr>
        </tbody>
    </table>

    <br><a href="{{ path('app_ticket_index') }}"><button class="btn btn-info">En Arrière</button></a><br>

    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}"><br><button class="btn btn-info">Modifier<br></button></a><br>

   <br> {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
