{% extends 'base.html.twig' %}

{% block title %}Role index{% endblock %}

{% block body %}
    <h1>Manage roles</h1>

    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
<div class="row" style="display: flex;align-items: center;margin-top: 20px;">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <a href="{{ path('app_role_index') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h5 class="card-title">Liste des roles</h5>

                <!-- Table with stripped rows -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Detail</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                    <tbody>
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </nav>
            </div>
        </div>


        {% for role in roles %}
            <tr>

                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>{{ role.detail }}</td>
                <td>
                    <a href="{{ path('app_role_show', {'id': role.id}) }}">show</a>
                    <a href="{{ path('app_role_edit', {'id': role.id}) }}">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_role_new') }}">Create new</a>
{% endblock %}
