{% extends 'base_back.html.twig' %}

{% block title %}Les Des Produit {% endblock %}

{% block body %}




    {% if messages is defined %}
        <div id="slow" class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done! le produit est ajouter avec succes</h4>
            {{ messages }}
        </div>
    {% endif %}
    <h1>Liste Des Produit</h1>




    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div class="container">
        <table class="table table-bordered" id="prodpm">
            <thead>
            <tr class="table-primary">
                <th>Id Du produit</th>
                <th>Nom du Produit</th>
                <th>Reference</th>
                <th>Quantite</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Date d'Ajout</th>
                <th>qrcode</th>
                <th>actions</th>

            </tr>
            </thead>
            <tbody>

            {% for produitpm in produitpms %}
                <tr>
                    <td>{{ produitpm.idprod }}</td>
                    <td>{{ produitpm.nomprod }}</td>
                    <td>{{ produitpm.referencep }}</td>
                    <td>{{ produitpm.quantitep }}</td>
                    <td>{{ produitpm.typep }}</td>
                    <td>{{ produitpm.prixpm }}</td>
                    <td>{{ produitpm.dateajoutpm }}</td>

                    <td>
                        <img class="img-fluid" src="/assets/qr-code/{{ produitpm.qrcode}}">
                    </td>

                    <td>
                        <a class="btn btn-primary" class="nav-item" href="/produitpm/add"> Ajouter </a> <a
                                class="btn btn-primary" href="/produitpm/update/{{ produitpm.idprod }}"> modifier </a><a
                                class="btn btn-primary" onclick="deleteItem({{ produitpm.idprod }})"><i
                                    class="fas fa-times"></i> supprimer </a></td>

                </tr>


            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


